* {
  font-family: 'Crimson Text', serif;
  font-weight: 100;
  line-height: 2rem;
}

h1 {
  font-family: 'Palanquin';
  font-size: 55px;
}

p {
  font-size: 1.2rem;
  font-weight: 100;
}

.App {
  text-align: center;
}

.App-header {
  color: white;
}

.App-intro {

}

.navigation-bar {

}

.footer {
  list-style-type: none;
}

.article {

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
