
#app-container {
  border: 10px solid blue;
}

.navbar-container {
  border: 10px solid green;
}

.header-container {
  border: 10px solid purple;
}

.title-text-container {
  border: 5px solid red;
}

.sub-text-container {
  border: 5px solid red;
}

.intro-text-container {
  border: 5px solid red;
}

.gridcard-container {
  // border: 10px solid yellow;
  box-sizing: border-box;
}

.single-gridtile {
  // border: 5px solid pink;
  box-sizing: border-box;
}

.grid-content {
  border: 5px solid green;
  font-family: 'Catamaran', sans-serif;
  display: flex;
  box-sizing: border-box;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
  padding: 8px;
}

.gridcard-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 250px;
  box-sizing: border-box;
}

a.single-gridtile {
  display: block;
  width: 300px;
  height: 250px;
  box-sizing: border-box;
  margin: 8px;
  transition: all 0.2s ease;
  .gridcard-text{
    position: absolute;
    z-index: 1;
    height: 250px;
    overflow: hidden;
    transition: all 0.2s ease;
    h2 {
      visibility: hidden;
    }
    p {
      visibility: hidden;
    }
  }
  &:hover{
    transition: all 0.2s ease;
    .gridcard-text{
      padding: 35px 35px 35px 35px;
      width: 300px;
      height: 250px;
      background-color: #222;
      transition: all 0.2s ease;
      background-repeat: no-repeat;
      box-sizing: border-box;
      h2 {
        visibility: visible;
        color: white;
        font-size: 18px;
      }
      p {
        visibility: visible;
        color: white;
        font-size: 15px;
        line-height: 22px;
      }
    }
  }
}

// Article Styles

.article-container {
  margin: 10% 20% 10% 20%;
  font-family: 'Merriweather';
  font-size: 1.1rem;
  line-height: 2.3rem;
  font-weight: 300;
}

.article-body {
  margin-top: 15%;
}

p > img {
  max-width: 175%;
  margin-left: -35%;
}

.h1-article {
  font-family: 'Roboto';
  text-align: center;
  font-size: 3.2rem;
  line-height: 5rem;
}

.date-article {
  text-align: center;
}

.author-article {
  text-align: center;
}
