#app-container {
  background-color: #FBFAF8; }

.navbar-container {
  padding: 3rem 3rem 0rem 3rem; }

.header-container {
  padding: 4rem 3rem 3rem; }
  .header-container h1 {
    font-size: 6rem;
    line-height: 6rem;
    margin: 0;
    font-weight: bold;
    max-width: 800px;
    font-family: 'Catamaran', 'Helvetica', sans-serif;
    padding-bottom: 1.5rem; }

.sub-text-container {
  display: inline-block;
  border-bottom: 1px solid #AAA;
  font-family: 'Noto Serif', 'Helvetica', sans-serif;
  font-style: italic;
  font-size: 19px;
  padding-bottom: 2rem; }

.intro-text-container {
  font-family: 'Noto Serif', 'Helvetica', sans-serif;
  padding-top: 2rem; }

.gridcard-container {
  box-sizing: border-box; }

.single-gridtile {
  box-sizing: border-box; }

.gridcard-text {
  height: 300px;
  width: 250px; }

.grid-content {
  font-family: 'Catamaran', sans-serif;
  display: flex;
  box-sizing: border-box;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
  padding: 8px; }

.gridcard-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 250px;
  box-sizing: border-box; }

a.single-gridtile {
  display: block;
  width: 300px;
  height: 250px;
  box-sizing: border-box;
  margin: 8px;
  transition: all 0.2s ease; }
  a.single-gridtile .gridcard-text {
    position: absolute;
    z-index: 1;
    height: 250px;
    width: 300px;
    overflow: hidden; }
    a.single-gridtile .gridcard-text h2 {
      visibility: hidden; }
    a.single-gridtile .gridcard-text p {
      visibility: hidden; }
  a.single-gridtile:hover {
    transition: all 0.2s ease; }
    a.single-gridtile:hover .gridcard-text {
      padding: 35px 35px 35px 35px;
      width: 300px;
      height: 250px;
      background-color: #222;
      transition: all 0.2s ease;
      background-repeat: no-repeat;
      box-sizing: border-box; }
      a.single-gridtile:hover .gridcard-text h2 {
        visibility: visible;
        color: white;
        font-size: 18px; }
      a.single-gridtile:hover .gridcard-text p {
        visibility: visible;
        color: white;
        font-size: 15px;
        line-height: 22px; }

.article-container {
  margin: 10% 20% 10% 20%;
  font-family: 'Merriweather';
  font-size: 1.1rem;
  line-height: 2.3rem;
  font-weight: 300; }

.article-body {
  margin-top: 15%; }

p > img {
  max-width: 175%;
  margin-left: -35%; }

.h1-article {
  font-family: 'Roboto';
  text-align: center;
  font-size: 3.2rem;
  line-height: 5rem; }

.date-article {
  text-align: center; }

.author-article {
  text-align: center; }
