#app-container {
  border: 10px solid blue; }

.navbar-container {
  border: 10px solid green; }

.title-text-container {
  border: 5px solid red; }

.sub-text-container {
  border: 5px solid red; }

.intro-text-container {
  border: 5px solid red; }

.gridcard-container {
  border: 10px solid yellow; }

.single-gridtile {
  border: 5px solid pink; }

.grid-content {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  padding: 8px; }

a.single-gridtile {
  display: block;
  box-sizing: border-box;
  padding: 8px 8px 8px;
  transition: all 0.2s ease;
  position: relative;
  height: 250px; }
  @media only screen and (min-width: 400px) {
    a.single-gridtile {
      height: 350px; } }
  @media only screen and (min-width: 600px) {
    a.single-gridtile {
      height: 450px; } }
  a.single-gridtile .gridcard-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    background-color: #EEE;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 250px; }
    @media only screen and (min-width: 400px) {
      a.single-gridtile .gridcard-image {
        height: 350px; } }
    @media only screen and (min-width: 600px) {
      a.single-gridtile .gridcard-image {
        height: 450px; } }
  a.single-gridtile:hover {
    transition: all 0.2s ease; }
    a.single-gridtile:hover .gridcard-text {
      background-color: #222;
      transition: all 0.2s ease; }
      a.single-gridtile:hover .gridcard-text h2 {
        color: #FFF;
        font-size: 32px;
        font-weight: 400; }
      a.single-gridtile:hover .gridcard-text p {
        color: #FFF;
        font-size: 16px;
        line-height: 22px;
        word-break: break-word; }

.article-container {
  margin: 10% 20% 10% 20%;
  font-family: 'Merriweather';
  font-size: 1.1rem;
  line-height: 2.3rem;
  font-weight: 300; }

.article-body {
  margin-top: 15%; }

p > img {
  max-width: 175%;
  margin-left: -35%; }

.h1-article {
  font-family: 'Roboto';
  text-align: center;
  font-size: 3.2rem;
  line-height: 5rem; }

.date-article {
  text-align: center; }

.author-article {
  text-align: center; }
