$small-width: 425px;
$medium-width: 650px;
$large-width: 1024px;

@mixin small {
  @media (min-width: #{$small-width}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

#app-container {
  background-color: #fbfaf8;
}

.navbar-container {
  padding: 3rem 3rem 3rem 3rem;
  display: flex;
  justify-content: space-between;
}

.menu-container {
  display: flex;
}

.menu-item {
  visibility: hidden;
  @include medium {
    visibility: visible;
    padding-left: 2rem;
    white-space: nowrap;
    text-align: center;
    p,
    a {
      font-family: 'Catamaran', 'Helvetica', sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      font-size: 1.1rem;
      font-weight: 700;
    }
  }
}

.outer {
  max-width: 1100px;
  margin: auto;
}

.header-container {
  padding: 4rem 3rem 3rem;
  h1 {
    font-size: 3.8rem;
    line-height: 4rem;
    margin: 0;
    font-weight: bold;
    font-family: 'Catamaran', 'Helvetica', sans-serif;
    padding-bottom: 1.5rem;
    @include medium {
      font-size: 5.5rem;
      line-height: 6rem;
    }
  }
}

.sub-text-container {
  display: inline-block;
  border-bottom: 1px solid #aaa;
  padding-bottom: 2rem;
  p {
    font-family: 'Noto Serif', 'Helvetica', sans-serif;
    font-style: italic;
    font-size: 19px;
  }
}

.intro-text-container {
  padding-top: 2rem;
  p {
    font-family: 'Noto Serif', 'Helvetica', sans-serif;
  }
}

.gridcard-container {
  display: flex;
  box-sizing: border-box;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
  padding: 8px;
}

.gridtile-container {
  display: block;
  width: 300px;
  height: 250px;
  box-sizing: border-box;
  margin: 8px;
  transition: all 0.2s ease;
  .gridtile-text {
    position: absolute;
    z-index: 1;
    width: 300px;
    overflow: hidden;
    h2 {
      visibility: hidden;
    }
    p {
      visibility: hidden;
    }
  }
  &:hover {
    transition: all 0.2s ease;
    .gridtile-text {
      padding: 35px 35px 35px 35px;
      width: 300px;
      height: 250px;
      background-color: #222;
      opacity: 0.9;
      transition: all 0.2s ease;
      background-repeat: no-repeat;
      box-sizing: border-box;
      h2 {
        font-family: 'Catamaran', sans-serif;
        visibility: visible;
        color: white;
        font-size: 18px;
      }
      p {
        font-family: 'Catamaran', sans-serif;
        visibility: visible;
        color: white;
        font-size: 15px;
        line-height: 22px;
      }
    }
  }
}

.gridtile-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 250px;
  box-sizing: border-box;
}

// Article Styles

.article-container {
  margin: 10% 10% 10% 10%;
  @include medium {
    margin: 10% 20% 10% 20%;
  }
}

.article-header-container {
  text-align: center;
  h1 {
    font-family: 'Catamaran', sans-serif;
    font-size: 2.5rem;
    line-height: 2.8rem;
    @include medium {
      font-size: 3.2rem;
      line-height: 5rem;
    }
  }
  p {
    font-family: 'Noto Serif', 'Helvetica', sans-serif;
    font-size: 1rem;
  }
}

.article-body {
  margin-top: 3rem;
  p {
    font-family: 'Noto Serif', 'Helvetica', sans-serif;
    font-size: 1.1rem;
    line-height: 2.3rem;
  }
  table,
  th,
  td {
    font-family: 'Noto Serif', 'Helvetica', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    border: 1px solid black;
    border-collapse: collapse;
  }
  em,
  strong {
    font-family: 'Noto Serif', 'Helvetica', sans-serif;
    font-weight: 700;
  }
  p > img {
    max-width: 175%;
    margin-left: -35%;
  }
}

// About Us Styles

.about-us-content-container {
  padding: 0rem 3rem 3rem;
  h2 {
    font-family: 'Catamaran', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  p {
    font-family: 'Noto Serif', 'Helvetica', sans-serif;
    font-size: 1rem;
    line-height: 1.8rem;
  }
}

.about-us-image-bar {
  display: none;
  @include medium {
    display: block;
  }
}

// Footer Styles

.footer-container-inner {
  padding: 4rem 0rem 4rem;
  display: flex;
  justify-content: space-around;
  @include medium {
    justify-content: center;
  }
}
.footer-item {
  text-align: center;
  @include medium {
    padding-left: 2.5rem;
  }
  p,
  a {
    text-decoration: none;
    color: #7d7d7d;
    text-transform: uppercase;
    font-family: 'Catamaran', sans-serif;
    font-size: 1rem;
    font-weight: 700;
  }
}

// Forms
.contact-us-container {
  padding: 0rem 3rem 3rem 3rem;
}

.contact-us-inner {
  max-width: 800px;
  h2 {
    font-family: 'Catamaran', sans-serif;
    text-align: center;
  }
}

input {
  display: block;
  font-size: 1.2rem;
  width: 100%;
  font-family: 'Catamaran', sans-serif;
  color: gray;
  border: 0;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease;

  &:focus {
    outline: none;
    border-bottom: 1px solid gray;
    transition: all 0.2s ease;
  }
}

input[type="text"] {
  line-height: 3.5rem;
  padding-left: 1.3rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  font-family: 'Catamaran', sans-serif;
}

.message {
  height: 10rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
  border-style: none;
  font-family: 'Catamaran', sans-serif;
  color: gray;
  padding: 1.3rem;
}

input[type="submit"] {
  padding: 1rem;
  font-size: 1.2rem;
  width: 100%;
  font-family: 'Catamaran', sans-serif;
  display: block;
  background-color: #469557;
  color: white;
  text-align: center;
  border-bottom: 2px solid darken(green, 10%);
  cursor: pointer;

  &:hover {
    background-color: darken(green, 5%);
    color: white;
    border-bottom: 1px solid darken(green, 20%);
    transform: translateY(3px);
  }

  &:focus {
    outline: none;
  }
}

.notice-container-success {
  border: 1px solid #469557;
  margin-bottom: 1rem;
  width: 100%;

  p {
    padding: 0.4rem 0.3rem 0.3rem 1.3rem;
    font-family: 'Catamaran', sans-serif;
    color: #469557;
  }
}

.notice-container-error {
  border: 1px solid #d64d3d;
  margin-bottom: 1rem;
  width: 103%;
  p {
    padding: 0.4rem 0.3rem 0.3rem 1.3rem;
    font-family: 'Catamaran', sans-serif;
    color: #d64d3d;
  }
}
