$small-width: 425px;
$medium-width: 650px;
$large-width: 1024px;
$grass-img: url('./assets/banner-grass.png');

@mixin small {
  @media (min-width: #{$small-width}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

#app-container {
  background-color: #fbfaf8;
}

.navbar-container {
  padding: 3rem 3rem 3rem 3rem;
  display: flex;
  justify-content: space-between;
}

.menu-container {
  display: flex;
}

.menu-item {
  visibility: hidden;
  @include medium {
    visibility: visible;
    padding-left: 2rem;
    white-space: nowrap;
    text-align: center;
    p,
    a {
      font-family: 'Catamaran', 'Helvetica', sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      font-size: 1.1rem;
    }
  }
}

.outer {
  max-width: 1100px;
  margin: auto;
}

.header-container {
  padding: 4rem 3rem 3rem;
  h1 {
    font-size: 3.8rem;
    line-height: 4rem;
    margin: 0;
    font-family: 'Catamaran', 'Helvetica', sans-serif;
    padding-bottom: 1.5rem;
    font-weight: normal;
    @include medium {
      font-size: 5.5rem;
      line-height: 6rem;
    }
  }
}

.sub-text-container {
  display: inline-block;
  border-bottom: 1px solid #aaa;
  padding-bottom: 2rem;
  p {
    font-family: 'Noto Serif', 'Helvetica', sans-serif;
    font-style: italic;
    font-size: 19px;
    line-height: 2rem;
  }
}

.intro-text-container {
  padding-top: 2rem;
  p {
    font-family: 'Noto Serif', 'Helvetica', sans-serif;
    line-height: 1.5rem;
  }
}

.gridcard-container {
  display: flex;
  box-sizing: border-box;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
  padding: 8px;
}

.gridtile-container {
  display: block;
  width: 300px;
  height: 250px;
  box-sizing: border-box;
  margin: 8px;
  transition: all 0.2s ease;
  .gridtile-text {
    position: absolute;
    z-index: 1;
    width: 300px;
    overflow: hidden;
    h2 {
      visibility: hidden;
    }
    p {
      visibility: hidden;
    }
  }
  &:hover {
    transition: all 0.2s ease;
    .gridtile-text {
      padding: 35px 35px 35px 35px;
      width: 300px;
      height: 250px;
      background-color: #222;
      opacity: 0.9;
      transition: all 0.2s ease;
      background-repeat: no-repeat;
      box-sizing: border-box;
      h2 {
        font-family: 'Noto Serif';
        visibility: visible;
        color: white;
        font-size: 18px;
      }
      p {
        font-family: 'Catamaran', sans-serif;
        visibility: visible;
        color: white;
        font-size: 15px;
        line-height: 22px;
      }
    }
  }
}

.gridtile-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 250px;
  box-sizing: border-box;
}

.gridtile-subtext-container {
  width: 300px;
  height: 100%;
  margin-bottom: 2rem;
  a,h2 {
    font-family: 'Noto Serif';
    color: black;
    font-size: 1.1rem;
    text-decoration: none;
    text-align: center;
  }
  p {
    font-family: 'Catamaran', sans-serif;
    font-size: 0.9rem;
    text-align: center;
    color: gray;
  }
  hr {
    width: 2rem;
  }
}

// Article Styles

.article-container {
  margin: 10% 10% 10% 10%;
  @include medium {
    margin: 10% 20% 10% 20%;
  }
}

.article-header-container {
  text-align: center;
  h1 {
    font-family: 'Catamaran', sans-serif;
    font-size: 2.5rem;
    line-height: 2.8rem;
    font-weight: normal;
    @include medium {
      font-size: 3.2rem;
      line-height: 5rem;
    }
  }
  p {
    font-family: 'Noto Serif', 'Helvetica', sans-serif;
    font-size: 1rem;
  }
}

.article-body {
  margin-top: 3rem;
  p {
    font-family: 'Noto Serif', 'Helvetica', sans-serif;
    font-size: 1rem;
    line-height: 1.8rem;
    @include medium {
    font-size: 1.1rem;
    line-height: 2.3rem;
    }
  }
  h2 {
    font-weight: normal;
  }
  table,
  th,
  td {
    font-family: 'Noto Serif', 'Helvetica', sans-serif;
    font-size: 0.9rem;
    text-align: center;
    padding: 0.3rem;
    line-height: 1.5rem;
    border: 1px solid black;
    border-collapse: collapse;
  }
  em,
  strong {
    font-family: 'Noto Serif', 'Helvetica', sans-serif;
    font-weight: 700;
  }
  p > img {
    width: 100%;
    margin: auto;
  }
}

// About Us Styles

.about-us-content-container {
  padding: 0rem 3rem 3rem;
  h2 {
    font-family: 'Catamaran', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: normal;
  }
  p {
    font-family: 'Noto Serif', 'Helvetica', sans-serif;
    font-size: 1rem;
    line-height: 1.8rem;
  }
}

.about-us-image-bar {
  display: none;
  @include medium {
    display: block;
  }
}

// Footer Styles

.footer-container-inner {
  padding: 4rem 0rem 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include medium {
    justify-content: center;
  }
}
.footer-item {
  text-align: center;
  flex: 0 0 100%;
  @include medium {
    padding-left: 2.5rem;
    flex: none;
  }
  p,
  a {
    text-decoration: none;
    color: #7d7d7d;
    text-transform: uppercase;
    font-family: 'Catamaran', sans-serif;
    font-size: 1rem;
  }
}

// Forms
.contact-us-container {
  padding: 0rem 1rem 3rem 1rem;

  @include medium {
    padding: 0rem 3rem 3rem 3rem;
  }
}

.contact-us-inner {
  max-width: 800px;
  h2 {
    font-family: 'Catamaran', sans-serif;
    text-align: center;
  }
}

input {
  display: block;
  font-size: 1.2rem;
  width: 100%;
  font-family: 'Catamaran', sans-serif;
  color: gray;
  border: 0;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease;

  &:focus {
    outline: none;
    border-bottom: 1px solid gray;
    transition: all 0.2s ease;
  }
}

input[type="text"] {
  line-height: 3.5rem;
  padding-left: 1.3rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  font-family: 'Catamaran', sans-serif;
}

.message {
  height: 10rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
  border-style: none;
  font-family: 'Catamaran', sans-serif;
  color: gray;
  padding: 1.3rem;
}

input[type="submit"] {
  padding: 1rem;
  font-size: 1.2rem;
  width: 100%;
  font-family: 'Catamaran', sans-serif;
  display: block;
  background-color: #469557;
  color: white;
  text-align: center;
  border-bottom: 2px solid darken(green, 10%);
  cursor: pointer;

  &:hover {
    background-color: darken(green, 5%);
    color: white;
    border-bottom: 1px solid darken(green, 20%);
    transform: translateY(3px);
  }

  &:focus {
    outline: none;
  }
}

.notice-container-success {
  border: 1px solid #469557;
  margin-bottom: 1rem;
  width: 100%;

  p {
    padding: 0.4rem 0.3rem 0.3rem 1.3rem;
    font-family: 'Catamaran', sans-serif;
    color: #469557;
  }
}

.notice-container-error {
  border: 1px solid #d64d3d;
  margin-bottom: 1rem;
  width: 100%;
  p {
    padding: 0.4rem 0.3rem 0.3rem 1.3rem;
    font-family: 'Catamaran', sans-serif;
    color: #d64d3d;
  }
}

.draft-manual-ad-container {
  text-align: center;
  padding: 2.7rem 2rem 3.7rem 2rem;
  background: $grass-img no-repeat center center fixed;
  background-size: cover;
  box-sizing: border-box;
  margin-top: 3rem;

  h2 {
    font-family: 'Bitter', serif;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: white;
  }
  p {
    font-family: 'Bitter', serif;
    color: white;
    line-height: 1.5rem;
  }
}

.draft-manual-form-container {
  form {
    display: flex;
    flex-flow: wrap;
    margin: auto;
    margin-top: 3rem;
    @include small {
      width: 75%;
    }
  }
  .input-container {
    flex: 0 0 100%;
    display: flex;
    flex-flow: wrap;
    @include small {
      flex-flow: nowrap;
    }
  }

  input[type="text"] {
    height: 4rem;
    margin: auto;
    @include small {
      flex: 0 0 75%;
    }
  }

  input[type="submit"] {
    height: 4rem;
    flex: 0 0 75%;
    margin: auto;
    margin-top: 1rem;
    @include small {
      flex: 0 0 25%;
      margin-top: 0rem;
    }
  }

  .draft-manual-ad-container-success,
  .draft-manual-ad-container-error {
    width: 100%;

    p {
      font-family: 'Catamaran', sans-serif;
      color: white;
      line-height: 0.5rem;
      text-align: left;
    }
  }
}
